[Unit]
Description=MaikBotTrade - Motor Cripto (BTC/ETH)
After=network.target

[Service]
User=maikol_salas_m
Group=maikol_salas_m
WorkingDirectory=/home/maikol_salas_m/maikBotTrade
ExecStart=/home/maikol_salas_m/maikBotTrade/venv/bin/python /home/maikol_salas_m/maikBotTrade/bot_crypto.py
Environment="PYTHONUNBUFFERED=1"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
