[Unit]
Description=MaikBotTrade - Motor Metales (XAU/XAG)
After=network.target

[Service]
User=maikol_salas_m
Group=maikol_salas_m
WorkingDirectory=/home/maikol_salas_m/maikBotTrade
ExecStart=/home/maikol_salas_m/maikBotTrade/venv/bin/python /home/maikol_salas_m/maikBotTrade/bot_metals.py
Environment="PYTHONUNBUFFERED=1"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
