{
  "project_info": {
    "project_number": "REEMPLAZAR_CON_PROJECT_NUMBER",
    "project_id": "iam-app-REEMPLAZAR",
    "storage_bucket": "iam-app-REEMPLAZAR.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "REEMPLAZAR",
        "android_client_info": {
          "package_name": "com.iam.iam_mobile"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REEMPLAZAR"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
